body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}
.game-container{
    max-width: 600px;
    background-color: white;
    margin:auto;
    padding: 20px;
    border: 12px;
    box-shadow: 0 0 15px black;
}
.color-grid{
    display:grid;
    grid-template-columns: repeat(4,60px);
    gap:10px;
    justify-content: center;
    margin: 20px 10;
}

.color-box{
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #ccc;

}

#mode{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow:5px 5px 5px black ;
    padding: 10px;
    width: 600px;
    border-radius: 10px;
    margin-top: 20px ;
    margin-bottom: 20px;
}

#dark,#light{
    width: 40px;
    height: 20px;
    padding: 8px;
    text-align: center;
}

#dark,#light{
    cursor: pointer;
}
#dark{
    background-color: black;
    color:white
}

#light{
    background-color:white;
    color: black;
}
